/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {

	line-height: 1;

}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;

}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;

}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.connexion-box {


	width: 379px;
	height: 0px;
	margin: auto;
	visibility: hidden;

}

.connexion-box h2 {
	text-align: center;
	margin-bottom: 1em;
}

.connexion-box h3 {
	text-align: center;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;

	color: #3D3D3D;
}

.category-choice {

	width: 379px;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border:2px solid white;

	margin: 7px 0 30px 0;

}

.log-text {

	width: 379px;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0px solid black;
	margin: 7px 0 30px 0;

}

.input-project-title {

	max-width: 379px;
	width: 100%;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0px solid black;
	margin: 7px 0 30px 0;


}

.log-name {


	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;

}


.log-btn {

	width: 179px;
	height: 36px;
	margin: 37px 0px 28px 95px;
	border: 1px;
	background: #1D6154;
	border-radius: 60px;
	color: white;
	text-align: center;


}

.hiddensection.hidden {

	height: 0;
	visibility: hidden;
}


.connexion-box.visible {

	visibility: visible;
	height: 700px;

}

button.btn-show {


	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	background-color: transparent;
	border: 1px transparent;

	text-align: center;

}


button.btn-show a:hover {

	color: #B1663C;

}

button.btn-show a {

	color: black;
	text-decoration: none;
}

#logout
 {
	font-weight: 600;
	font-size: 16px;
}

.box-filtre {

	max-width: 550px;
	height: 37px;
	margin: auto;
	justify-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 51px;
	justify-content: space-between;
	gap: 10px;
}

button.btn-filtre {


	height: 37px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: transparent;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	padding: 0px 30px 0px 30px;


}

button.btn-filtre:hover {


	background-color: #1D6154;
	color: white;


}


.btn-filtre.active {


	background-color: #1D6154;
	color: white;


}

button.btn-publish {


	height: 38px;
	border: 1px solid black;
	border-radius: 60px;
	background-color: white;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: center;
	padding: 0px 26px 0px 26px;



}

button.btn-publish:hover {


	height: 38px;
	border: 1px solid black;
	border-radius: 60px;
	background-color: black;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: center;
	padding: 0px 26px 0px 26px;
	color: white;



}


.box-editing-mode {


	height: 59px;
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	visibility: visible;

}


.box-editing-mode h2 {


color: white;

font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
margin-right: 21px ;


}

.portfolio h3{

position: absolute;

text-align: center;
}


.modal{

	position:fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 0.3);
	visibility: hidden;

}



.modal-box{


	max-width: 630px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	border-radius: 10px;
	background-color: white;
	padding: 32px 105px 38px 105px;
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;


}

.modal-project-remove-confirm{

	position: absolute;

	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	visibility: hidden;
	padding: 0px 0px 50px 0px;
	margin-top: 60px;
	width: 100%;


}



.modal-project-remove-confirm img{


	width: 100%;
	max-width: 280px;

	
}

.modal-project-remove-confirm h2{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: black;
margin-top: 30px;

}




.modal-add-project{



	position: absolute;

	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	visibility: hidden;
	padding: 0px 0px 50px 0px;
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-add-project h2{

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #000000;

}

.img-to-add{

height: 169px;
max-width: 420px;
width: 100%;
background-color: #E8F1F7;
margin-top: 36px;
margin-bottom: 30px;




}

.img-to-add-content{

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5px;

}

.img-to-add i{

color: #B9C5CC;

font-size: 58px;
	
	}
.modal-project2{


	background-color: black;
	max-width: 630px;
	width: 100%;

	border-radius: 10px;
	background-color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
}

.modal-project-gallery h2{


	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: black;
	margin-top: 28px;

	
}
.modal-project-gallery{

display: flex;
flex-direction: column;
justify-content: space-around;
	
}
.modal-img-box{


	max-height: 731px;
	max-width: 630px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: white;
	
}
button.hidemodal{

	background-color: transparent;
	border: 0px;
	width: 0px;
	height: 0px;
	position: fixed;

	float: right;
	margin-left: 87%;


}
button.returnModal{

	background-color: transparent;
	border: 0px;
	width: 0px;
	height: 0px;
	position: fixed;

	float: left;
	margin-right: 89%;


}
button.returnModal i{

	font-size: 16px;
	background-color: transparent;
	
	}

	button.returnModal h2{
		font-size: 0px;
	}

button.hidemodal i{

font-size: 16px;
background-color: transparent;

}



button.hidemodal:hover i{

	font-size: 16px;
	background-color: transparent;
	transform: rotate(90deg);
	transition-duration: 200ms;
	}

button.hidemodal h2{
	font-size: 0px;
}

.modal-box-list{

	max-width: 420px;

	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap:20px;
	justify-content: center;
	margin-top: 46px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;




}

.modal-box-list img{


	max-height: 104px;
	max-width: 78px;
	background-color: white;
	
}

button.modal-modif{

	color: white;
	position: absolute;
	background-color: rgb(0, 0, 0, 1);
	border: 0px;
	border-radius: 2px;
	padding: 3.27px;
	display: flex;
	width: 17px;
	height: 17px;
	
}

button.modal-modif-place{

	color: white;
	position: absolute;

	background-color: rgb(0, 0, 0, 1);
	border: 0px;
	margin-left: -47px;
	margin-top: 5px;
	border-radius: 2px;
	width: 17px;
	height: 17px;

}


button.modal-modif-remove i{

	font-size: 10px;
	font-weight: 600;
	margin-left: -1.65px;

}
button.modal-modif-place i{

	font-size: 11px;
	font-weight: 600;
	margin-left: -3px;

}
button.modal-modif-remove{

	color: white;
	position: absolute;
	margin-left: -25px;
	margin-top: 5px;
	background-color: rgb(0, 0, 0, 1);
	border: 0px;
	border-radius: 2px;

	width: 17px;
	height: 17px;

}

button.modal-modif-edit{

	color: black;
	position: relative;
	background-color: rgb(0, 0, 0, 0);
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	display: flex;
	margin-top: 0px;

	margin-bottom: 10px;

}


button.add-project{

	color: white;
	background: #1D6154;
	border-radius: 60px;
	padding: 10px 49px 10px 49px;
	font-family: Syne;
	border: 0px;
	margin: 25px auto 0px auto;
	width: 237px;


}
button.add-project:hover{

	background: #2a8b7a;

}


button.add-project#remove-confirmation{

	color: white;
	background: #1D6154;
	border-radius: 60px;
	padding: 10px 49px 10px 49px;
	font-family: Syne;
	border: 0px;
	margin: 38px auto 0px auto;
	max-width: 300px;

}

button.add-project h3{

font-size: 14px;


}


img#img-added{

max-height: 169px;
max-width: 129px;
margin-left: 150px;

}
button.del-projects{

	color: #D65353;
	background-color:transparent;
	font-family: Syne;
	border: 0px;
	margin-top: 5px;
	text-align: center;

}

input#btn-add-img{


	color: #306685;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;

	text-align: center;
	background-color:#CBD6DC ;
	border-radius: 50px;
	width: 173px;
	height: 36px;
	border: 0px;
	opacity: 0;


	
}

.file-input{


	color: #306685;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	background-color:#CBD6DC ;
	border-radius: 50px;
	width: 173px;
	height: 36px;
	border: 0px;
	margin-top: 20px;

}
.file-input h2{


	color: #306685;
	font-family: 'Work Sans';
	font-style: bold;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	border: 0px;
	margin-top: -25px;

}
button.add-img:hover{

	background-color:#bac7cc ;

}
.img-to-add-content h4{

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;

	text-align: center;
	
	color: #444444;
	margin-top: 7px;

}

.btn-modification {


background-color: transparent;
border: none;
font-size: 14px;
height: 18px;


}
.btn-modification i{


	background-color: transparent;
	border: none;
	font-size: 16px;

	
	}

.project-btn-modif{


display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-bottom: 2em;
margin-top: 108px;


}

.filtre-btn-modif{


	margin-left: 51px;

	}
#introduction-btn-modif{


		margin-left: 51px;
		margin-top: 5px;
	}

	#filtre-btn-modif{


		margin-left: 10px;

	}


button.btn-modif-fake i{


	background-color: transparent;
	border: none;
	font-size: 16px;

		
	}